@model MovieModel
@{
    ViewData["Title"] = "Movie Registatration Confirmation Page";
}

<div class="text-center">
    <h1 class="display-4">Movie Confirmation</h1>
    <h4>@Model.Title has been registered</h4>
</div>
